nav {
  background-color: $background-color;
  justify-content: flex-end !important;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  .btn {
    background-color: $secondary-text-color;
    margin-left: 10px;
    color: $background-color;
    font-weight: bold;
  }
  .btn:focus,
  .btn:active:focus,
  .btn.active:focus,
  .btn.focus,
  .btn:active.focus,
  .btn.active.focus {
    outline: none !important;
    box-shadow: none;
  }
  .add {
    background-color: #49495f;
  }
}
